

html, body, #root { /* Adicione #root como o elemento raiz, se aplicável */
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #0c0a09;
    overflow-x: hidden;
}